* {
    box-sizing: border-box;
    margin: 0;
}

button {
    border: none;
    outline:none;
}

body {
    min-width: 53rem;
}

#headerbar {
    height: 3.5rem;
    background-color: #F3F5F5;
    display: grid;
    grid-template-columns: auto auto 1fr;
}

header p {
    padding: 0;
}

#menubutton, #sitename, #disclaimer {
    display: flex;
    align-items: center;
}

#disclaimer {
    font-size: 0.8rem;
}

#menubutton button {
    height: 2rem;
    background-color: darkcyan;
    color: white;
    font-weight: 600;
    border-radius: 10%;
}

#menu {
    display: none;
    position: absolute;
    top: 3.4rem;
    left: 0;
    background-color: inherit;
    padding: 3rem;
    border-bottom-right-radius: 1rem;
}

#menu a {
    text-decoration: none;
    color: darkcyan;
    font-weight: 600;
}

#sitename {
    margin-right: 1.5rem;
}

#sitename a {
    text-decoration: none;
}

#name {
    font-weight: 900;
}

#intro {
    height: 3rem;
    padding: 0.5rem;
    background: white;
}

main {
    height: calc(100vh - 6.5rem);
    padding: 1rem;
}

.toc, .maincontent {
    height: 100%;
    overflow: auto;
    padding-bottom: 3rem;
}

.toc {
    white-space: nowrap;
}

.toc .source {
    display: none;
}

.toc h1 {
    padding-left: 1rem;
}

.toc h2 {
    padding-left: 2rem;
}

.toc h3 {
    padding-left: 3rem;
}

.toc h4 {
    padding-left: 4rem;
}

.toc h5 {
    padding-left: 5rem;
}

.toc h6 {
    padding-left: 6rem;
}

.toc .command {
    padding-left: 8rem;
}

.toc .aftercommand {
    padding-left: 10rem;
}

.toc a {
    text-decoration: none;
}

.heading, .toc a {
    font-size: inherit;
    color: blue;
    font-weight: 500;
}

.heading code {
    color: darkcyan;
}

button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 50%;
}

.maincontent {
    padding-left: 0.5rem;
}

.maincontent .content {
    padding-left: 1.5rem;
}

.source, .showall{
    font-size: 60%;
    color: black;
    font-style: italic;
    margin-right: 0.5rem;
}

.headingindex {
    font-size: 80%;
    color: black;
}

.command .headingindex, .aftercommand .headingindex {
    display: none;
}

h4[class~="command"] {
    padding-left: 8rem;
}

h4[class~="command"] + .content {
    padding-left: 10rem;
}

h5[class~="command"] {
    padding-left: 6rem;
}

h5[class~="command"] + .content {
    padding-left: 8rem;
}

h6[class~="command"] {
    padding-left: 4rem;
}

h6[class~="command"] + .content {
    padding-left: 6rem;
}

pre {
    padding-left: -30rem;
}

main p, main .heading, main li, main pre {
    padding-bottom: 0.75rem;
}

code {
    color: brown;
}


